# Copy the contents of this file into a '.env' file in the same directory, then update the variables in that file.

# Comma-separated list of hosts allowed by Django
ALLOWED_HOSTS=localhost,127.0.0.1
# 50-ish char secret key for Django. In quotes.
SECRET_KEY=""
# Django Debug. True in dev. False in prod except for firefighting.
DEBUG=True

# Local PostgreSQL config
# Unless you've made a different database or user, they are both 'postgres' by default with the container.
DATABASE_URL=postgres://Username:Password@localhost:5432/db-name

# Stripe private key
STRIPE_SECRET_KEY= 

# Add IS_HEROKU to control API_BASE_URL
IS_HEROKU=False

# Facebook app info
SOCIAL_AUTH_FACEBOOK_KEY = 
SOCIAL_AUTH_FACEBOOK_SECRET = 
# configured through django admin panel (Django OAuth Toolkit > Applications) Set user as superuser, client type confidential, Auth grant type Resource owner password-based, Name Facebook
DJANGO_AUTH_FACEBOOK_CLIENT_ID = 
DJANGO_AUTH_FACEBOOK_CLIENT_SECRET = 