[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
"django-rest-framework-social-oauth2" = "*"
oauthlib = "*"
pyjwt = "*"
requests = "*"
requests-oauthlib = "*"
social-auth-app-django = "*"
social-auth-core = "*"

[dev-packages]

[requires]
python_version = "3.7"
