[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
django-rest-auth = {extras = ["with_social"], version = "*"}
django-allauth = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.7"
